$background-main: #000000
$text-color: #fff
$title-font: 'Sunshiney' cursive
$heading-font: 'Mali', cursive
body
    height: 100vh
    margin: 0
    padding: 0
    overflow: hidden
    display: flex
    flex-direction: column
    justify-content: space-between
    background-color: $background-main
    color: $text-color
    font-family: $heading-font
    text-align: center

.header 
    width: 100%

.sm 
    display: flex
    justify-content: space-between
    align-items: center
    margin: 1%
.sm-icon
    color: #fff
    font-size: 2em
.title
    font-size: 3em
    margin: 0
